/* mine */
*{padding: 0;margin: 0;}
/* div#main { font-size: 16px; line-height: 26px; color: #fff; } */
div#main div.fancy-select { margin: 0 auto 70px; width: 110px; }
div#main code { font-size: 16px; padding: 2px 3px; background: #5A606F; color: #fff; border-radius: 4px; font-family: "Inconsolata", monospace; }
div#main pre { padding: 27px 27px 30px; background: #5A606F; color: #fff; border-radius: 4px; white-space: pre-wrap; max-width: 540px; line-height: 28px; margin-bottom: 30px; }
div#main pre code { padding: 0; background: transparent; border-radius: 0; margin-bottom: 18px; }
div#main section { width: 940px; margin: 90px auto; }
div#main section h2, div#main section h3 { font-size: 22px; margin-bottom: 18px; font-weight: 600; }
/*one column*/
@media only screen and (max-width: 639px) {
	div#main section { width: 300px; }
}
/*two columns*/
@media only screen and (min-width: 640px) and (max-width: 959px) {
	div#main section { width: 620px; }
}
/* cyrillic-ext */
/* 按钮 */
.s_btn {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}



/* 右侧弹窗 */
.btn, .tile {
		display: inline-block;
		font-size:17px;
		text-decoration: none;
		padding: 16px;
		background: #474747;
		color: white;
		opacity: 0.85;
		cursor: pointer;
		transition: 0.25s ease;
	}
	.btn:hover,
	.tile:hover {
		opacity: 1;
	}
	.modal {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px;
		background: #EA006F;
		color: white;
		z-index: 1;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		transition: 200ms ease;
	}
	.modal-close-btn {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		background: url(img/close.png) no-repeat center;
		width: 20px;
		height: 20px;
		padding: 8px;
		opacity: 0.8;
		cursor: pointer;
		transition: 0.3s ease;
	}
	.modal-close-btn:hover {
		opacity: 1;
	}
	.modal--2 { background: #4A90E2; }
	.modal--3 { background: #FFD200; }
	.modal--4 { background: #4CBB47; }
	.modal--5 { background: #362A6C; }
	.modal.show {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	.dialog {
		background: #4A90E2;
		min-width: 300px;
		left: 50%;
		right: auto;
		top: 30%;
		bottom: auto;
		box-shadow: 0 0 0 3000px rgba(0,0,0,0.4);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.sidebar {
		left: auto; 
		width: 220px;
		background: rgba(0, 0, 0, 0.72);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		/* TODO */
		/* -webkit-transform: translateX(0);
		transform: translateX(0); */
		/* transform: translateX(100%); */
		opacity: 1;
		visibility: visible;
	}
	.sidebar.show {
		/* -webkit-transform: translateX(0);
		transform: translateX(0); */
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	.sidebar__block {
		border-radius: 5px;
		background: white;
		opacity: 0.3;
		margin-top: 32px;
	}
	/* 右侧弹窗 */
/* mine */


body, form, html, img, input, p, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: SimHei
}

a {
	text-decoration: none;
	cursor: pointer
}

b, p {
	-ms-word-break: break-all;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-align: justify
}

p {
	line-height: 150%
}

th {
	font-weight: 700
}

td, th {
	display: table-cell;
	vertical-align: inherit;
	word-break: break-all;
	word-wrap: break-word
}

.g {
	background-color: #FFF;
	text-align: center
}

.t {
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear
}

#h {
	width: 100%
}

.l {
	margin: auto;
	background-repeat: no-repeat;
	background-image: url(../MagiImage/assets.png);
}

.question {
	width: 100%;
	height: 20px;
	background: #FFFFFF;
	color: #000;
	outline: 0;
	font: 17px arial;
	line-height: 22px;
	border-radius: 0
}

#question {
	box-shadow: 0 0 10px #3385ff !important
}

#question:focus {
	box-shadow: 0 0 18px #3385ff !important
}

.b {
	background: #757373;
	height: 40px;
	cursor: pointer;
	border-radius: 0
}

.b:hover {
	background: #858585
}

.b:active {
	background: #707070
}

.s {
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3)
}

#ub {
	display: block;
	width: 150px;
	float: left
}

#bu {
	float: left;
	width: 130px;
	height: 100%
}

#ba {
	float: left;
	margin: 8px
}

#bn {
	float: right;
	font-size: 15px;
	font-family: 'gill sans';
	margin-top: 11px;
	margin-right: 5px;
	color: #FFF;
	text-align: left;
	height: 20px;
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

#bw {
	float: right;
	width: 11px;
	height: 10px;
	margin-right: 9px;
	margin-top: 16px;
	background-image: url(../MagiImage/assets.png);
	background-position: 0 0;
	background-size: 304px 128px;
	background-repeat: no-repeat
}

#dc {
	display: block;
	float: right;
	width: 8px;
	margin-top: -97px;
	margin-right: 11px;
	height: 30px;
	background-image: url(../MagiImage/assets.png);
	background-position: -11px 0;
	background-size: 304px 128px;
	background-repeat: no-repeat
}

.a {
	width: 24px;
	height: 24px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: #cacaca 0 0 0 1px, #eee 0 0 0 1px;
	background-image: url(../MagiImage/assets.png);
	background-position: -165px 0;
	background-size: 247px 104px;
	background-repeat: no-repeat;
	cursor: pointer
}

#ta {
	margin-left: 4px;
	margin-top: 9px
}

#tu {
	float: right;
	width: 38px;
	height: 100%
}

#tlb {
	float: left;
	display: block;
	width: 110px;
	height: 100%
}

#tl {
	width: 68px;
	height: 23px;
	margin-top: 9px;
	margin-left: 15px;
	background-image: url(../MagiImage/assets.png);
	background-position: -134px 0;
	background-size: 304px 128px;
	background-repeat: no-repeat
}

#rf {
	margin-top: 20px;
	margin-bottom: 8px;
	font-size: 12px;
	color: #757373
}

#rf a {
	color: #494949;
	margin-left: 1px;
	margin-right: 1px
}

#rfi {
	display: none
}

#rfh {
	margin-top: 17px
}

#rfc {
	margin-top: 10px
}

.adl {
	color: #757373;
	font-size: 12px;
	font-style: italic;
	border-bottom: 1px solid #c7c7c7
}

.k {
	position: relative;
	margin-top: 15px;
	width: 100%;
	background-color: #FFF;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgb(51, 133, 255)
}

@
keyframes efd { 0%,5%{
	color: rgba(0, 0, 0, 0)
}

10%,90%{
color
:
#494949
}
100%,95%{
color
:rgba
(0
,
0,0,0)
}
}
@
-moz-keyframes efd { 0%,5%{
	color: rgba(0, 0, 0, 0)
}

10%,90%{
color
:
#494949
}
100%,95%{
color
:rgba
(0
,
0,0,0)
}
}
@
-webkit-keyframes efd { 0%,5%{
	color: rgba(0, 0, 0, 0)
}

10%,90%{
color
:
#494949
}
100%,95%{
color
:rgba
(0
,
0,0,0)
}
}
@
-o-keyframes efd { 0%,5%{
	color: rgba(0, 0, 0, 0)
}

10%,90%{
color
:
#494949
}
100%,95%{
color
:rgba
(0
,
0,0,0)
}
}
@media screen and (min-width:1120px) {
	/* mine */
	.logo-main {
	    width: 300px;
	    line-height: 60px;
	    overflow: hidden;
	    margin: 120px auto 50px;
	    cursor: hand;
	}
	#logo {
	    width: 100%;
	    height: 100%;
	}
	
	#lc {
		position: absolute;
		top: 0;
		left: 0;
		right: 350px;
		height: auto
	}
	#rc {
		position: absolute;
		top: 0;
		width: 350px;
		right: 0;
		height: auto;
		text-align: left;
		color: #FFF;
		border-top: 3px #ffd800 solid
	}
	#rbc {
		z-index: -1;
		position: fixed;
		top: 0;
		right: 0;
		width: 350px;
		height: 100%;
		background: -moz-linear-gradient(left, #494949, #676767);
		background: -webkit-linear-gradient(left, #494949, #676767);
		background: -o-linear-gradient(left, #494949, #676767);
		background: linear-gradient(left, #494949, #676767)
	}
	#mes {
		display: none
	}
	.in {
		text-align: justify;
		width: auto;
		padding-left: 48px;
		padding-top: 14px;
		padding-bottom: 14px;
		color: #494949;
		padding-right: 15px;
		line-height: 155%
	}
	.tn {
		white-space: nowrap;
		padding: 8px;
		min-width: 110px
	}
	#rh {
		width: 100%;
		display: block
	}
	#f {
		display: block;
		position: fixed;
		left: 0;
		right: 0;
		height: 30px;
		bottom: 0;
		font-size: 12px;
		background-color: rgba(230, 230, 230, .3);
		border-top: 1px #dedede solid;
		min-width: 760px;
		color: #959595
	}
	#f a {
		color: #959595;
		margin-left: 4px;
		margin-right: 4px
	}
	#f a:hover {
		color: #494949
	}
	#f a:active {
		color: #757373
	}
	#fh {
		position: absolute;
		left: 28px;
		top: 7px
	}
	#fc {
		position: absolute;
		right: 160px;
		top: 7px
	}
	#fi {
		position: absolute;
		right: 24px;
		top: 7px
	}
	#fl {
		display: inline-block;
		margin: auto;
		margin-top: 9px;
		background-image: url(../MagiImage/assets.png);
		width: 94px;
		height: 11px;
		background-position: -40px 0;
		background-size: 304px 128px;
		background-repeat: no-repeat
	}
	#ask {
		position: absolute;
		top: 0;
		right: -59px;
		/* width: 40px; */
	/* 	background-image: url(../MagiImage/assets.png); */
		background-position: -264px 0;
		background-size: 304px 128px;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0
	}
	#cl {
		display: none
	}
	#question {
		padding: 10px 50px 10px 9px
	}
	#sb {
		position: relative;
		height: 40px;
		margin-right: 59px
	}
	#sc {
		margin-top: 20px
	}
	#u {
		display: block;
		float: left;
		width: 180px;
		height: 40px
	}
	#b {
		margin-left: 180px;
		height: 40px;
		width: auto
	}
	.f {
		max-width: 800px;
		/* padding-left: 30px; */
		padding-right: 200px;
		margin-left: auto;
		margin-right: auto
	}
	.f-main {
		max-width: 800px;
		/* padding-left: 30px; */
		/* padding-right: 200px; */
		margin-left: auto;
		margin-right: auto
	}
	#t {
		background-color: #494949;
		width: 100%;
		height: 4px
	}
	#tn {
		display: none
	}
	#l {
		margin-top: 44px;
		width: 304px;
		height: 128px;
		background-size: 304px 128px;
		background-position: 0 -30px
	}
	#ro {
		margin-top: 13px;
		width: 205px;
		height: 69px;
		background-size: 205px 88px;
		background-position: 0 -21px
	}
	::-webkit-input-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 16px
	}
	:-moz-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 16px
	}
	::-moz-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 16px
	}
	:-ms-input-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 16px
	}
}

@media screen and (min-width:770px) and (max-width:1120px) {
	#lc {
		position: absolute;
		width: 100%;
		height: auto
	}
	#mes, #rc {
		display: none
	}
	.in {
		text-align: justify;
		width: auto;
		padding-left: 48px;
		padding-top: 14px;
		padding-bottom: 14px;
		color: #494949;
		padding-right: 15px;
		line-height: 155%
	}
	.tn {
		white-space: nowrap;
		padding: 8px;
		min-width: 110px
	}
	#rh {
		width: 100%;
		display: block
	}
	#f {
		display: block;
		position: fixed;
		left: 0;
		right: 0;
		height: 30px;
		bottom: 0;
		font-size: 12px;
		background-color: rgba(230, 230, 230, .3);
		border-top: 1px #dedede solid;
		min-width: 760px;
		color: #959595
	}
	#f a {
		color: #959595;
		margin-left: 4px;
		margin-right: 4px
	}
	#f a:hover {
		color: #494949
	}
	#f a:active {
		color: #757373
	}
	#fh {
		position: absolute;
		left: 28px;
		top: 7px
	}
	#fc {
		position: absolute;
		right: 160px;
		top: 7px
	}
	#fi {
		position: absolute;
		right: 24px;
		top: 7px
	}
	#fl {
		display: inline-block;
		margin: auto;
		margin-top: 9px;
		background-image: url(../MagiImage/assets.png);
		width: 94px;
		height: 11px;
		background-position: -40px 0;
		background-size: 304px 128px;
		background-repeat: no-repeat
	}
	#ask {
		position: absolute;
		top: 0;
		right: -59px;
		/* width: 40px; */
		/* background-image: url(../MagiImage/assets.png); */
		background-position: -264px 0;
		background-size: 304px 128px;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0
	}
	#cl {
		display: none
	}
	#question {
		padding: 10px 50px 10px 9px
	}
	#sb {
		position: relative;
		height: 40px;
		margin-right: 59px
	}
	#sc {
		margin-top: 20px
	}
	#u {
		display: block;
		float: left;
		width: 180px;
		height: 40px
	}
	#b {
		margin-left: 180px;
		height: 40px;
		width: auto
	}
	.f {
		max-width: 710px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: auto;
		margin-right: auto
	}
	#t {
		background-color: #494949;
		width: 100%;
		height: 4px
	}
	#tn {
		display: none
	}
	#l {
		margin-top: 44px;
		width: 304px;
		height: 128px;
		background-size: 304px 128px;
		background-position: 0 -30px
	}
	#ro {
		margin-top: 13px;
		width: 205px;
		height: 69px;
		background-size: 205px 88px;
		background-position: 0 -21px
	}
	::-webkit-input-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 16px
	}
	:-moz-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 16px
	}
	::-moz-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 16px
	}
	:-ms-input-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 16px
	}
}

@media screen and (max-width:770px) {
	#lc {
		position: absolute;
		width: 100%;
		height: auto
	}
	#rc {
		display: none
	}
	#mes {
		height: 25px;
		font-size: 14px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 40px;
		display: block;
		animation: efd 5s infinite;
		-moz-animation: efd 5s infinite;
		-webkit-animation: efd 5s infinite;
		-o-animation: efd 5s infinite
	}
	.in {
		text-align: justify;
		width: auto;
		padding-left: 48px;
		padding-top: 14px;
		padding-bottom: 14px;
		color: #494949;
		padding-right: 15px;
		line-height: 157%
	}
	.tn {
		white-space: nowrap;
		padding: 8px;
		min-width: 90px
	}
	#rl {
		display: none
	}
	#rh {
		height: 5px;
		display: block
	}
	#f {
		margin-top: 50px;
		font-size: 12px;
		color: #757373
	}
	#f a {
		color: #494949;
		margin-left: 1px;
		margin-right: 1px
	}
	#fh {
		margin-top: 17px
	}
	#fc {
		margin-top: 10px
	}
	#fi {
		display: none
	}
	#fl {
		display: inline-block;
		margin: auto;
		margin-top: 11px;
		background-image: url(../MagiImage/assets.png);
		width: 94px;
		height: 11px;
		background-position: -40px 0;
		background-size: 304px 128px;
		background-repeat: no-repeat
	}
	#ec {
		display: none
	}
	#ask {
		position: absolute;
		top: 0;
		right: -89px;
		width: 40px;
		background-image: url(../MagiImage/assets.png);
		background-position: -264px 0;
		background-size: 304px 128px;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0
	}
	#cl {
		display: block;
		position: absolute;
		top: 0;
		right: -49px;
		cursor: pointer;
		height: 40px;
		width: 40px;
		padding: 0;
		margin: 0
	}
	#cb {
		display: block;
		position: absolute;
		left: 15px;
		top: 14px;
		background-image: url(../MagiImage/assets.png);
		background-position: 0 -10px;
		height: 11px;
		width: 10px;
		background-size: 304px 128px;
		background-repeat: no-repeat
	}
	#question {
		padding: 10px 80px 10px 9px
	}
	#sb {
		position: relative;
		height: 40px;
		margin-right: 89px
	}
	#sc {
		margin-top: 10px
	}
	#u {
		display: none;
		float: left;
		width: 180px;
		height: 40px
	}
	#b {
		width: 100%;
		height: 40px
	}
	.f {
		max-width: 710px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: auto;
		margin-right: auto
	}
	#t {
		background-color: #494949;
		width: 100%;
		height: 43px;
		border-bottom: 1px #ffd800 solid
	}
	#tn {
		display: block;
		width: 100%;
		height: 100%
	}
	#l {
		margin-top: 30px;
		width: 200px;
		height: 85px;
		background-size: 200px 85px;
		background-position: 0 -20px
	}
	#ro {
		display: none
	}
	::-webkit-input-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 13px
	}
	:-moz-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 13px
	}
	::-moz-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 13px
	}
	:-ms-input-placeholder {
		color: #757373;
		font-style: italic;
		font-size: 13px
	}
}

.bh {
	text-align: left;
	margin-top: 15px;
	height: 30px;
	width: 100%
}

.bd {
	float: left;
	display: inline-block;
	height: 30px;
	border-left: 3px #757373 solid;
	border-right: 3px #ffd800 solid
}

.bht {
	display: inline-block;
	margin-left: 8px;
	padding-top: 6px;
	font-size: 15px;
	color: #494949;
	height: 21px;
	width: 95%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: default
}

.lk {
	color: #000000;
	border-bottom: 2px solid #ffd800;
}

.mylk {
	color: #FFFFFF;
	border-bottom: 1px solid #0BDA41;
}

.myborder {
	border-color: #ffd800;
	border-width: 1px 1px 1px 1px;
    border-bottom: 0.5px solid #ffd800;
    border-style: solid;
  	margin-right:4px;
}

.ht {
	padding-right: 60px
}

.ts {
	width: 60px;
	height: 52px;
	float: right;
	text-align: center
}

.tsp {
	height: 3px
}

.tst {
	background-color: #c5c5c5;
	height: 3px;
	width: 34px;
	margin-left: auto;
	margin-right: auto
}

.green {
	background-color: #9fff9f
}

.yellow {
	background-color: #ffd800
}

.red {
	background-color: #f15959
}

.tsn {
	display: block;
	padding-top: 17px;
	padding-left: 3px;
	color: #797979;
	font-family: sans-serif;
	font-size: 10px;
	cursor: default
}

.gf {
	width: 100%;
	height: 250px;
	border: 0
}

.bf {
	word-break: break-all;
	margin-top: 15px;
	font-size: 13px;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #757373
}

.tbx {
	padding: 10px
}

.bt {
	overflow: hidden;
	display: block;
	width: 100%;
	table-layout: fixed;
	padding-top: 2px;
	padding-bottom: 2px;
	border-collapse: collapse;
	border-spacing: 5;
	border: 0;
	border-color: #c5c5c5
}

.th {
	background-color: #dadada
}

.trh {
	background-color: #eee
}

.tny {
	background-color: #ffea79
}

.lr {
	margin: auto;
	width: 67px;
	height: 35px;
	display: block;
	background-image: url(../MagiImage/assets.png);
	background-repeat: no-repeat;
	background-size: 67px 15px;
	background-position: 0 10px
}

.gsr {
	padding: 10px;
	display: block;
	text-align: left
}

.gsh {
	font-size: 16px;
	padding-bottom: 5px;
	height: 21px;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.gsc {
	font-size: 13px;
	color: #757373;
	padding-bottom: 5px;
	word-break: break-all;
	word-wrap: break-word
}

.gsl {
	font-size: 12px;
	color: #c5c5c5;
	padding-bottom: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.gss {
	display: block;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px
}

.gsp {
	height: 1px;
	background-color: #eee
}

.n {
	float: left;
	width: 48px;
	height: 45px;
	margin-top: 6px;
	background-repeat: no-repeat;
	background-size: 120px 160px;
	background-image: url(../MagiImage/bicons.png);
}

.ct {
	background-position: -35px -80px
}

.eq {
	background-position: 5px 0
}

.fk {
	background-position: -75px -80px
}

.gr {
	background-position: -35px 0
}

.mp {
	background-position: -75px 0
}

.qt {
	background-position: 5px -40px
}

.tb {
	background-position: -35px -40px
}

.wc {
	background-position: 5px -80px
}

.un {
	background-position: -75px -40px
}

.pn {
	background-position: 5px -120px
}

.al {
	background-position: -35px -120px
}

.ls {
	background-position: -75px -120px
}

.wb {
	font-size: 15px;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #f6f6f6;
	border-radius: 3px;
	border: 1px #c5c5c5 solid
}

.ywb {
	border: 1px #ffd800 solid
}

.lwb {
	background-color: #f6f6f6;
	border: 1px #d0d0d0 solid;
	color: #d0d0d0;
	margin-left: 13px
}

.wb2 {
	font-size: 15px;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgb(71, 71, 71);
	border-radius: 3px;
	border: 1px #c5c5c5 solid
}

.bwb {
	border: 1px #3385FF solid
}

.bsm {
	text-align: left;
	word-break: break-all;
	margin-top: 15px;
	font-size: 10px;
	width: auto;
	padding-left: 15px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #000000
}

/* .bxg {
	background-color: #fff;
	text-align: center
} */

.bxc {
	display: block;
	margin-right: 10px;
	margin-left: auto;
	width: 100px;
	height: 30px;
	background-color: rgba(0, 0, 0, .7)
}

.bxf {
	height: 30px;
	width: 100px
}

.bkta {
	margin: 10px;
	padding: 10px;
	font-size: 17px;
	background-color: #f7f7f7;
	width: 89%;
	height: 200px;
	resize: none
}

#bksb {
	cursor: pointer;
	display: block;
	margin: 30px;
	padding-bottom: 10px;
	margin-top: 2px;
	font-size: 17px;
	text-decoration: underline;
	color: #3498db;
	background-color: transparent
}

.me_h1 {
	margin-left: 15px;
	margin-top: 15px;
	font-size: 15px;
	font-style: italic;
	color: #c7c7c7;
	margin-right: 15px
}

.me_h2 {
	margin-left: 20px;
	margin-top: 12px;
	line-height: 22px;
	font-size: 12px;
	color: #c7c7c7;
	margin-right: 15px
}

.me_h2wb {
	color: #FFF;
	font-size: 12px;
	padding: 1px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #595959;
	border-radius: 3px;
	border: 1px #c7c7c7 solid
}

.me_h2wb:hover {
	border: 1px #ffd800 solid
}

.me_oname {
	display: block;
	color: #fff;
	margin-top: 15px;
	font-size: 22px;
	font-style: inherit;
	font-weight: 700;
	padding-left: 10px;
	border-bottom: 1px solid #ffd800;
	border-left: 27px solid #ffd800
}

.me_oname:hover {
	color: #ffd800
}

.me_class {
	color: #ffd800;
	border-bottom: 1px solid #c7c7c7;
	font-size: 17px
}

.me_class:hover {
	color: #fff
}

.me_bx {
	width: 300px;
	height: auto;
	margin: auto;
	text-align: left
}

.me_ob {
	display: inline-block;
	text-align: left;
	color: #fff;
	background-color: #595959;
	border: 1px solid #c9aa00;
	margin-left: 3px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10px;
	width: 42px;
	height: 42px;
	padding-top: 3px;
	padding-left: 6px;
	padding-right: 0;
	padding-bottom: 5px;
	vertical-align: top
}

.me_ob:hover {
	border: 1px #ffd800 solid
}

.me_at {
	display: inline-block;
	color: #FFF;
	font-size: 13px;
	padding: 1px;
	margin-left: 3px;
	margin-top: 8px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	border-radius: 4px;
	border: 1px #c7c7c7 solid
}

.me_at:hover {
	border: 1px #ffd800 solid
}

.me_li {
	font-size: 13px;
	padding-left: 5px;
	color: #ffd800;
	white-space: nowrap
}

.me_la {
	display: block;
	color: #FFF;
	width: 250px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px rgba(0, 0, 0, 0) solid
}

.me_la:hover {
	border-bottom: 1px #ffd800 solid
}

.me_sg {
	margin-bottom: 30px
}

#websearch {
	overflow: hidden
}

.xpd {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	font-size: 12px;
	color: #5c5c5c;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0,
		rgba(255, 255, 255, .54) 29%, rgba(255, 255, 255, 1) 54%,
		rgba(255, 255, 255, 1) 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0)), color-stop(29%, rgba(255, 255, 255, .54)),
		color-stop(54%, rgba(255, 255, 255, 1)),
		color-stop(98%, rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0,
		rgba(255, 255, 255, .54) 29%, rgba(255, 255, 255, 1) 54%,
		rgba(255, 255, 255, 1) 98%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0,
		rgba(255, 255, 255, .54) 29%, rgba(255, 255, 255, 1) 54%,
		rgba(255, 255, 255, 1) 98%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0,
		rgba(255, 255, 255, .54) 29%, rgba(255, 255, 255, 1) 54%,
		rgba(255, 255, 255, 1) 98%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0,
		rgba(255, 255, 255, .54) 29%, rgba(255, 255, 255, 1) 54%,
		rgba(255, 255, 255, 1) 98%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',
		endColorstr='#ffffff', GradientType=0)
}

.xpb {
	height: 120px;
	overflow: hidden;
	cursor: pointer
}

.xpt {
	height: 420px;
	overflow: hidden;
	cursor: pointer
}