*{
    margin: 0 ;
    padding : 0 ;
}
.row{
    margin : 0 ;
}
#mask {
    min-height : 500px ;
    border-top : 1px solid #ccc ;
    margin-top : 20px ;
    width : 95% ;
    margin-left : auto ;
    margin-right : auto ;
    padding : 40px 20px ;
    font-size : 18px ;
    position : relative ;
}
#mask #loadingTag{
    font-size : 14px ;
    position : absolute ;
    top : 230px ;
    left : 300px ;
    display : none ;
}
#analysisPanel {
    display : none ;
}
.analysis-wrapper{
    background : #fff ;
    border : 1px solid #ccc ;
   /*  border-radius : 10px ; */
    min-height : 200px ;
}
.analysis-wrapper ul {
    margin : 10px 5px ;
}
.analysis-wrapper ul li {
    list-style : none ;
    padding:5px 4px ;
}
.analysis-wrapper ul li div.text-item {
    border-bottom:1px solid #ccc ;
    border-left : 3px solid #0099cc ;
    padding : 8px 5px ;
    cursor : pointer ;
}
.analysis-wrapper ul li div.canvasContainer {
    width : 100% ;
    height : 0 ;
    overflow : hidden ;
}
#paraContent{
    padding-left : 20px ;
    padding-top : 10px ;
    font-size : 16px ;
}
#paraNerIntro {
    background: #f8f8f8 ;
    padding : 10px 20px ;
    border-radius :  0 0  10px 10px ;
    height : 20px ;
    border-top : 1px solid #ccc ;
}
#paraNerIntro label {
    line-height : 20px ;
    font-weight : normal ;
    display : inline-block ;
}
#paraNerIntro label .box{
    width : 20px ;
    height : 20px ;
    border-radius : 3px ;
    display : block ;
    margin: 0 5px 0 15px;
    float : left ;
}
#viewContent{
    overflow : visible ;
}
.dis-wrapper{
    background: #f8f8f8 ;
    padding-top : 20px ;
    padding-left : 15px ;
    padding-right : 15px ;
}
.keep-width-80p{
    width : 80% ;
}
.keep-margin-top-10px{
    margin-top:10px ;
}
.keep-margin-top-20px {
    margin-top : 20px ;
}

#label-explanation-response-btn {
    width:140px ;
    height:30px ;
    background-color: #0061c2 ;
    position:fixed ;
    right:5px ;
    bottom:120px ;
    color:white ;
    text-align:center ;
    line-height:30px ; 
    cursor:pointer ; 
    z-index:88 ;
    box-shadow : -1px 3px 5px #888 ;  
    -webkit-box-shadow : -1px 3px 5px #888 ;  
}

#label-explanation-panel{
    color : black ;
    width : 0 ;
    height: 0 ;
    position:fixed ;
    z-index:0 ;
    border:1px solid #DDD ;
    box-shadow : 1px 3px 1px #ddd ;
    -webkit-box-shadow : 1px 3px 1px #ddd ;
    background-color : #fff ; 
}
#label-explanation-panel .nav-tabs {
    font-size : 14px ;
}
#label-explanation-panel-description{
    background-color : #f6f6f6 ;
    padding : 10px 10px 10px 10px ;
}
#label-explanation-panel-content{
    overflow : auto ;    
}
#label-explanation-panel-total-info{
    height : 20px ;
    width : 60% ;
    text-align : left ;
    padding : 5px  0 5px 10px ;
    float : left ;
}
#label-explanation-panel-close-btn{
    height : 20px ;
    width : 20% ;
    text-align : right ;
    padding : 5px  20px 5px 0 ;
    cursor : pointer ;
    border-right : 1px solid #ddd ;
    border-radius : 0 6px 6px 0 ;
    -webkit-border-radius : 0 6px 6px 0 ;
    box-shadow : 0 1px 1px #ccc ;
    float : right ;
    *zoom : 1 ; 
}
#label-explanation-panel-close-btn :after{
    content : "" ;
    clear : both ;
    display : block ;
    height : 0 ;
    visibility : hidden ;

}
/** following content is the copy from bootstrap V3 to overwrite the boostrap v2 difinition 
    (because previous single demo is writen based on V3 while server using V2 instead)
**/
.form-control{
    display : block ;
    width : 100% ;
    height : auto ;
    margin : auto ;
    font-size : 14px ;
    line-height : 16px ;
    padding : 6px 12px ;
    color : #555 ;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075) ;
            box-shadow : inset 0 1px 1px rgba(0,0,0,.075) ;
    -webkit-transition : border-color ease-in-out .15s , -webkit-box-shadow ease-in-out .15s ;
         -o-transition : border-color ease-in-out .15s , box-shadow ease-in-out .15s ;
            transition : border-color ease-in-out .15s , box-shadow ease-in-out .15s ;
}
.form-control:focus {
    border-color : #66afe9 ;
    outline : 0 ;
    -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075) , 0 0 8px rgba(102,175,233,.6) ;
            box-shadow : inset 0 1px 1px rgba(0,0,0,.075) , 0 0 8px rgba(102,175,233,.6) ;
}
.width-control-60{
    width : 60% ;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
